* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar li a {
    text-decoration: none;
    color: white;
}
.sidebar {
    height: 100vh;
    width: 325px;
    font-size: 250%;
    padding: 15px;
    margin-left: 150px;
}
.sidebar li {
    text-align: center;
    width: 150px;
    border-radius: 10px;
    padding: 5px;
    background-color: blueviolet;
    margin: 5px 0;
}
.sidebar li:hover {
    transform: scale(2);
    /* transition: transform 1s cubic-bezier(0.680, -0.550, 0.265, 1.550); */
    transition: transform 1s ease;
}

/* 
1em = 16px
1rem = 16px
*/