body {
  margin: 0;
  padding: 0;
}
.middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: #fff;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #ffae00;
  overflow: hidden;
  position: relative;
}
.btn i {
  line-height: 70px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i {
  transform: scale(1.3);
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ffae00;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
